/*Font Css*/

@font-face {
    font-family: 'BlackJackRegular';
    src: url('../font/blackjar.eot');
    src: url('../font/blackjar.eot') format('embedded-opentype'),
         url('../font/blackjar.woff') format('woff'),
         url('../font/blackjar.ttf') format('truetype'),
         url('../font/blackjar.svg#BlackJackRegular') format('svg');
}
@font-face {
    font-family: 'TimelessBold';
    src: url('../font/timeless-bold.eot');
    src: url('../font/timeless-bold.eot') format('embedded-opentype'),
         url('../font/timeless-bold.woff') format('woff'),
         url('../font/timeless-bold.ttf') format('truetype'),
         url('../font/timeless-bold.svg#TimelessBold') format('svg');
}
@font-face {
    font-family: 'TimelessRegular';
    src: url('../font/timeless.eot');
    src: url('../font/timeless.eot') format('embedded-opentype'),
         url('../font/timeless.woff') format('woff'),
         url('../font/timeless.ttf') format('truetype'),
         url('../font/timeless.svg#TimelessRegular') format('svg');
}

/*Main Css*/

body{
	background-color: #f7e4c0;
	background-image: url('../assets/pattern.png');
}

.loading{
	font-family: 'BlackJackRegular';
	color: #4b3500;
	font-size: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
}

.loading p{
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
}

.clearfix{
	clear: both;
}

a{
	outline: none;
	border: none;
}

.container{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/back-1.png');
	background-repeat: repeat-x;
}

.container-about{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/about-back.png');
	background-repeat: repeat-x;	
}

.container-catering{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/catering-back.png');
	background-repeat: repeat-x;	
}

.container-findus{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/find-back.png');
	background-repeat: repeat-x;	
}

.container-gift{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/gift-back.png');
	background-repeat: repeat-x;	
}

.container-food{
	width: 1296px;
	height: 1000px;
	margin: 0 auto;
	background-image: url('../assets/food-back.png');
	background-repeat: repeat-x;	
}

.container-food .content{
	height: 652px;
}

div.logo{
	width: 112px;
	height: 161px;
	margin: 0 auto;
	padding-top: 26px;
}

.content{
	text-align: center;
	margin-top: 44px;
	height: 602px;
	display: block;
}

h1{
	font-family: 'BlackJackRegular';
	font-size: 29px;
	color: #ffd742;
	text-align: center;
	margin-top: 93px;
	margin-bottom: 42px;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.33);
}

.about h1{
	position: relative;
	top: -10px;
}

.catering h1{
	position: relative;
	top: -10px;
}

.findus h1{
	position: relative;
	top: -10px;
}

.gift h1{
	position: relative;
	top: -10px;
}

.food h1{
	position: relative;
	top: -10px;
}

.content p{
	margin-top: 12px;
	font-family: 'TimelessRegular';
	font-size: 17px;
	color: #4b3500;
	letter-spacing: 0.01em;
}

.content h2{
	font-family: 'BlackJackRegular';
	font-size: 22px;
	color: #4b3500;
	margin-top: 16px;
}

.content-nav{
	margin-top: 26px;
	width: 374px;
	margin: 0 auto;
	/*height: 262px;*/
}

.content-nav div{
	float: left;
	cursor: pointer;
}

.content-nav p{
	font-family: 'BlackJackRegular';
	color: #6a4d20;
	font-size: 20px;
}

.content-nav .range{
	margin-top: 42px;
}

.content-nav .cooking{
	margin-top: 34px;
	margin-right: -38px;
	margin-left: -32px;
}

.content-nav .health{
	margin-top: 54px;
}

.content-nav .range p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-left: -36px;
	margin-bottom: 8px;
}

.content-nav .cooking p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-left: -12px;
	margin-bottom: 10px;
}

.content-nav .health p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-right: -36px;
	margin-bottom: 10px;
}

.content-nav .range:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.content-nav .cooking:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.content-nav .health:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.main-nav{
	margin: 0 auto;
	text-align: center;
}

.main-nav ul li{
	/*float: left;*/
	display: inline-block;
	margin-right: 48px;
}

.main-nav ul li a{
	display: block;
	text-decoration: none;
}

.main-nav ul li a.about{
	background: url('../assets/buttons.png') no-repeat 0 0;
	width: 140px;
	height: 28px;
	position: relative;
	left: 40px;
}

.main-nav ul li a.food{
	background: url('../assets/buttons.png') no-repeat 0 -31px;
	width: 140px;
	height: 28px;
	position: relative;
	left: 30px;
}

.main-nav ul li a.gift{
	background: url('../assets/buttons.png') no-repeat 0 -61px;
	width: 140px;
	height: 28px;
	position: relative;
	left: 20px;
}

.main-nav ul li a.catering{
	background: url('../assets/buttons.png')  no-repeat 0 -92px;
	width: 140px;
	height: 28px;
	position: relative;
	left: 10px;
}

.main-nav ul li a.find{
	background: url('../assets/buttons.png') no-repeat 0 -123px;
	width: 140px;
	height: 28px;
	position: relative;
	left: -2px;
}

.main-nav ul li a:hover:after{
	content: " ";
	background: url('../assets/glow.png') no-repeat;
	position: absolute;
	display: block;
	width: 160px;
	height: 124px;
	left: 50%;
	margin-left: -82px;
	top: -36px;
}

.footer{
	margin-top: 48px;
}

.footer p{
	font-family: 'TimelessBold';
	color: #471912;
	font-size: 14px;
	text-align: center;
}

.content .about p{
	text-align: center;
	font-family: 'TimelessRegular';
	font-size: 17px;
	width: 860px;
	margin: 0 auto;
	line-height: 20px;
}

.content .catering p{
	text-align: center;
	font-family: 'TimelessRegular';
	font-size: 17px;
	width: 900px;
	margin: 0 auto;
	line-height: 20px;
}

.content .findus div{
	width: 260px;
	float: left;
	text-align: left;
	font-family: 'TimelessRegular';
	margin-left: 14px;
}

.findus h2{
	color: #5b4219;
	font-size: 21px;
	margin-bottom: 26px;
}

.findus address{
	font-family: 'TimelessRegular';
	font-size: 17px;
	line-height: 20px;
	color: #533c16;
	margin-bottom: 24px;
}

.findus h3{
	font-family: 'TimelessRegular';
	margin-bottom: 24px;
	color: #533c16;
	font-size: 17px;
}

.findus p.number{
	font-family: 'TimelessBold';
	margin-bottom: 24px;
}

.findus p{
	line-height: 20px;
}

p.offer{
	text-align: center;
	font-size: 19px;
	margin-top: 80px;
}

.new-range, .cooking-tips, .health-benefits{
	height: 338px;
}

.inactive{
	display: none;
}

.active{
	display: block;
}

.cooking-tips{
	text-align: left;
}

.cooking-tips>p{
	text-align: center;
	font-size: 15px;
	width: 900px;
	margin: 0 auto;
	margin-top: -8px;
	margin-bottom: 0px;
}

.cooking-tips div{
	float: left;
	width: 550px;
}

.cooking-tips div h2{
	font-size: 20px;
}

.cooking-tips div p{
	font-size: 14px;
	text-align: left;
}

.health-benefits p{
	line-height: 20px;
	font-size: 16px;
	width: 920px;
	margin: 0 auto;
	margin-top: -8px;
}

.health-benefits h2{
	margin-top: 24px;
}

.main-content{
	visibility: hidden;
	opacity: 0;
}

/*.slider{
	position: absolute;
	left: 289px;
	top: 296px;
	height: 451px;
	overflow: hidden;
}

.slider img{
	float: left;
}

.slider a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'TimelessRegular';
	float: right;
	color: #4b3500;
	position: relative;
	top: -20px;
	left: 8px;
}

.slider a:hover{
	text-decoration: underline;
}
*/

/*Slider --------------------------------------------------------------------------*/

#slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  left: 288px;
  top: 294px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 451px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 451px;
  width: 852px;
}

a.skip{
	color: #4b3500;
	float: right;
	right: 190px;
	position: relative;
	margin-top: -6px;
}


.gift>p{
	font-size: 20px;
	margin-top: 200px;
}

.food{
	height: 580px;
}

.food h1{
	font-size: 24px;
	color: #4b3500;
	margin: 0;
	text-shadow: none;
}

.food .left{
	float: left;
}

.food .right{
	float: left;
}

.food .first-page .left{
	margin-left: 260px;
	margin-top: 80px;
}

.food .first-page .right{
	margin-left: 220px;
	margin-top: 80px;
}

.food .second-page .left{
	margin-left: 240px;
	margin-top: 36px;
}

.food .second-page .right{
	margin-left: 170px;
	margin-top: 80px;
}

.food .third-page .right{
	margin-top: 50px;
	margin-left: 120px;
}

.food .third-page .left{
	margin-left: 240px;
	margin-top: 60px;
}

.food .fourth-page .right{
	margin-top: 90px;
	margin-left: 180px;
}

.food .fourth-page .left{
	margin-left: 240px;
	margin-top: 60px;
}

.food .fifth-page .right{
	margin-top: 45px;
	margin-left: 200px;
}

.food .fifth-page .left{
	margin-left: 240px;
	margin-top: 40px;
}

.food .first-page .left h1{
	margin: 0;
	text-shadow: none;
	margin-bottom: 15px;
}

.food .first-page .left img{
	margin-bottom: 35px;
}

.food .first-page .left p{
	font-size: 18px;
	color: #4b3500;
	line-height: 20px;
}

.food .first-page .right p{
	font-size: 18px;
	color: #4b3500;
	line-height: 23px;
	text-align: left;
}

.food .second-page h1{
	margin-bottom: -20px;
	margin-top: 35px;
	text-align: left;
}

.food .third-page h1{
	margin-bottom: -20px;
	margin-top: 35px;
	text-align: left;
}

.food .fourth-page h1{
	margin-bottom: -20px;
	margin-top: 35px;
	text-align: left;
}

.food .fifth-page h1{
	margin-bottom: -20px;
	margin-top: 35px;
	text-align: left;
}

.food .second-page p{
	line-height: 22px;
	text-align: left;
}

.food .third-page p{
	line-height: 22px;
	text-align: left;
}

.food .fourth-page p{
	line-height: 22px;
	text-align: left;
}

.food .second-page p{
	line-height: 22px;
	text-align: left;
}

.food .fifth-page p{
	line-height: 22px;
	text-align: left;
}

.food .fourth-page h2{
	font-size: 36px;
	margin-top: 70px;
	text-align: left;
}

.food .second-page p{
	line-height: 22px;
	text-align: left;
}

.food .second-page b{
	font-family: 'TimelessBold';
}

.food-nav{
	margin: 0 auto;
	width: 560px;
	/*margin-top: 70px;*/
}

.food-nav ul li{
	float: left;
	border-right: 1px solid #4b3500;
	padding: 0 20px 0 20px;
}

.food-nav ul li a{
	color: #4b3500;
	text-decoration: none;
}

.food-nav ul li a:hover{
	text-decoration: underline;
}

.first-page, .second-page, .third-page, .fourth-page, .fifth-page{
	display: none;
}

.p-active{
	display: block;
}