/*Font Css*/

@font-face {
    font-family: 'BlackJackRegular';
    src: url('../font/blackjar.eot');
    src: url('../font/blackjar.eot') format('embedded-opentype'),
         url('../font/blackjar.woff') format('woff'),
         url('../font/blackjar.ttf') format('truetype'),
         url('../font/blackjar.svg#BlackJackRegular') format('svg');
}
@font-face {
    font-family: 'TimelessBold';
    src: url('../font/timeless-bold.eot');
    src: url('../font/timeless-bold.eot') format('embedded-opentype'),
         url('../font/timeless-bold.woff') format('woff'),
         url('../font/timeless-bold.ttf') format('truetype'),
         url('../font/timeless-bold.svg#TimelessBold') format('svg');
}
@font-face {
    font-family: 'TimelessRegular';
    src: url('../font/timeless.eot');
    src: url('../font/timeless.eot') format('embedded-opentype'),
         url('../font/timeless.woff') format('woff'),
         url('../font/timeless.ttf') format('truetype'),
         url('../font/timeless.svg#TimelessRegular') format('svg');
}

/*Main Css*/

body{
	background-color: #f7e4c0;
	background-image: url('../assets/pattern.png');
}

.clearfix{
	clear: both;
}

.container{
	width: 1296px;
	height: 934px;
	margin: 0 auto;
	background-image: url('../assets/back-1.png');
	background-repeat: repeat-x;
}

div.logo{
	width: 112px;
	height: 161px;
	margin: 0 auto;
	padding-top: 26px;
}

.content{
	text-align: center;
	margin-top: 44px;
}

.home h1{
	font-family: 'BlackJackRegular';
	font-size: 29px;
	color: #ffd742;
	text-align: center;
	margin-top: 93px;
	margin-bottom: 42px;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.33);
}

.content p{
	margin-top: 12px;
	font-family: 'TimelessRegular';
	font-size: 17px;
	color: #4b3500;
	letter-spacing: 0.01em;
}

.content h2{
	font-family: 'BlackJackRegular';
	font-size: 22px;
	color: #4b3500;
	margin-top: 16px;
}

.content-nav{
	margin-top: 26px;
	width: 374px;
	margin: 0 auto;
	height: 262px;
}

.content-nav div{
	float: left;
	cursor: pointer;
}

.content-nav p{
	font-family: 'BlackJackRegular';
	color: #6a4d20;
	font-size: 20px;
}

.content-nav .range{
	margin-top: 42px;
}

.content-nav .cooking{
	margin-top: 34px;
	margin-right: -38px;
	margin-left: -32px;
}

.content-nav .health{
	margin-top: 54px;
}

.content-nav .range p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-left: -36px;
	margin-bottom: 8px;
}

.content-nav .cooking p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-left: -12px;
	margin-bottom: 10px;
}

.content-nav .health p{
	-webkit-transition:  0.5s;
	-o-transition:  0.5s;
	transition:  0.5s;
	margin-right: -36px;
	margin-bottom: 10px;
}

.content-nav .range:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.content-nav .cooking:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.content-nav .health:hover p{
	margin-bottom: 2px;
	color: #4b3500;
	text-decoration: underline;
}

.main-nav{

}

.main-nav ul li{
	/*float: left;*/
	display: inline-block;
	margin-right: 48px;
}

.main-nav ul li a{
	display: block;
	text-decoration: none;
}

.main-nav ul li a.about{
	background: url('../assets/buttons.png') no-repeat 0 0;
	width: 140px;
	height: 28px;
}

.main-nav ul li a.food{
	background: url('../assets/buttons.png') no-repeat 0 -31px;
	width: 140px;
	height: 28px;
}

.main-nav ul li a.gift{
	background: url('../assets/buttons.png') no-repeat 0 -61px;
	width: 140px;
	height: 28px;
}

.main-nav ul li a.catering{
	background: url('../assets/buttons.png')  no-repeat 0 -92px;
	width: 140px;
	height: 28px;
}

.main-nav ul li a.find{
	background: url('../assets/buttons.png') no-repeat 0 -123px;
	width: 140px;
	height: 28px;
}